@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
}

/* HEADER SECTION */

.header {
	background-color: #1F2937;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 650px;
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: bold;
}

.header-links{
	font-size: 18px;
	display: flex;
	gap: 30px;
}

a {
	color: #E5E7EB;
	text-decoration: none;
}

/* HERO SECTION */

.hero {
	background-color: #1F2937;
	padding: 120px;
	display: flex;
	justify-content: center;
	gap: 180px;
}

.hr-txt {
	max-width: 450px;
}

.hr-main {
	color: #F9FAF8;
	font-size: 48px;
	font-weight: 900;
}

.hr-secondary {
	color: #E5E7EB;
	font-size: 18px;
}

.hr-button {
	color: white;
	background-color: #3882F6;
	font-size: 18px;
	font-weight: bold;
	border: 0px; 
	border-radius: 8px;
	padding: 8px 32px;
	margin-top: 10px
}

.hr-img {
	border-radius: 20px;
	width: 600px;
}

/* CONTENT SECTION */

.content {
	padding: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.txt-content {
	color: #1F2937;
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 55px;
}

.sqr-content {
	display: flex;
	justify-contente: center;
	gap: 60px;
}

.square {
	border: 4px solid #3882F6;
	border-radius: 20px;
	width: 160px;
	height: 160px;
}

/* FOOTER SECTION*/

.footer {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	justify-content: center;
	align-items: center;
}
